<h1>Account Info</h1>
<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div class="col-md-8">
    <% if @user.shout_outs.any? %>
      <h3>Shout Outs (<%= @user.shout_outs.count %>)</h3>
      <ol class="microposts">
        
      </ol>
      <%= will_paginate @shout_outs %>
    <% end %>
  </div>

<%= link_to "Edit Account Info?", edit_user_path(current_user) %>