<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "QuickScrim", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Account", edit_user_path(current_user) %></li>
      <% else %>
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>